In [2]:
import pandas as pd

# Remplace 'nom_du_fichier.csv' par le chemin réel de ton fichier CSV
chemin_fichier = 'flickr_data2.csv'

try:
    data = pd.read_csv(chemin_fichier, sep=',', on_bad_lines='skip')
    print("Fichier importé avec succès en ignorant les lignes problématiques !")
except Exception as e:
    print(f"Une erreur est survenue : {e}")

Fichier importé avec succès en ignorant les lignes problématiques !

/var/folders/r2/gpm53c192dsgzq8bxk_h_nph0000gn/T/ipykernel_88376/1527344406.py:7: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(chemin_fichier, sep=',', on_bad_lines='skip')

In [4]:
try:
    # Lecture du fichier
    data = pd.read_csv(chemin_fichier, sep=',', on_bad_lines='skip')

    # Affiche les informations générales
    print("### Informations générales sur le dataset ###")
    print(data.info())

    # Nombre total de lignes et colonnes
    print("\nNombre total de lignes et colonnes :")
    print(f"Lignes : {data.shape[0]}, Colonnes : {data.shape[1]}")

    # Statistiques descriptives
    print("\n### Statistiques descriptives ###")
    print(data.describe(include='all'))  # Inclut toutes les colonnes

    # Comptage des valeurs nulles par colonne
    print("\n### Nombre de valeurs nulles par colonne ###")
    print(data.isnull().sum())

    # Pourcentage de valeurs nulles
    print("\n### Pourcentage de valeurs nulles par colonne ###")
    print((data.isnull().sum() / data.shape[0]) * 100)

    # Détection des doublons
    print("\n### Nombre de doublons ###")
    print(data.duplicated().sum())

    # Aperçu des premières lignes
    print("\n### Aperçu des premières lignes ###")
    print(data.head())

except Exception as e:
    print(f"Une erreur est survenue : {e}")

/var/folders/r2/gpm53c192dsgzq8bxk_h_nph0000gn/T/ipykernel_88376/2804899409.py:3: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(chemin_fichier, sep=',', on_bad_lines='skip')

### Informations générales sur le dataset ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   420240 non-null  int64
 1    user                420240 non-null  object
 2    lat                 420240 non-null  float64
 3    long                420240 non-null  float64
 4    tags                316730 non-null  object
 5    title               381911 non-null  object
 6    date_taken_minute   420239 non-null  float64
 7    date_taken_hour     420240 non-null  int64
 8    date_taken_day      420240 non-null  int64
 9    date_taken_month    420240 non-null  int64
 10   date_taken_year     420240 non-null  int64
 11   date_upload_minute  420228 non-null  object
 12   date_upload_hour    420238 non-null  object
 13   date_upload_day     420238 non-null  float64
 14   date_upload_month   420240 non-null  int64
 15   date_upload_year    420239 non-null  float64
 16  Unnamed: 16          142 non-null     float64
 17  Unnamed: 17          0 non-null       float64
 18  Unnamed: 18          2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB
None

Nombre total de lignes et colonnes :
Lignes : 420240, Colonnes : 19

### Statistiques descriptives ###
                  id          user            lat           long         tags  \
count   4.202400e+05        420240  420240.000000  420240.000000       316730
unique           NaN          5158            NaN            NaN        41736
top              NaN  40936370@N00            NaN            NaN  france,lyon
freq             NaN         34230            NaN            NaN         4119
mean    2.002697e+10           NaN      45.768173       4.839672          NaN
std     1.411384e+10           NaN       0.028575       0.031619          NaN
min     3.066675e+08           NaN      45.655200       4.720312          NaN
25%     7.094503e+09           NaN      45.757613       4.826202          NaN
50%     1.548087e+10           NaN      45.763152       4.832183          NaN
75%     3.145886e+10           NaN      45.773509       4.846558          NaN
max     4.914809e+10           NaN      45.854950       5.006709          NaN

         title   date_taken_minute   date_taken_hour   date_taken_day  \
count   381911       420239.000000     420240.000000    420240.000000
unique   97367                 NaN               NaN              NaN
top       Lyon                 NaN               NaN              NaN
freq      6129                 NaN               NaN              NaN
mean       NaN           30.068559         14.746695        15.456813
std        NaN           39.880117          6.583236         9.637870
min        NaN            0.000000          0.000000         1.000000
25%        NaN           14.000000         12.000000         8.000000
50%        NaN           30.000000         15.000000        15.000000
75%        NaN           45.000000         18.000000        23.000000
max        NaN         2019.000000       2013.000000      2013.000000

         date_taken_month   date_taken_year  date_upload_minute  \
count       420240.000000     420240.000000              420228
unique                NaN               NaN                 153
top                   NaN               NaN                  39
freq                  NaN               NaN                5655
mean             7.000493       2013.294256                 NaN
std              4.611831         37.141359                 NaN
min              1.000000          1.000000                 NaN
25%              4.000000       2012.000000                 NaN
50%              7.000000       2014.000000                 NaN
75%             10.000000       2017.000000                 NaN
max           2011.000000       2238.000000                 NaN

         date_upload_hour   date_upload_day   date_upload_month  \
count            420238.0     420238.000000       420240.000000
unique               69.0               NaN                 NaN
top                  22.0               NaN                 NaN
freq              29385.0               NaN                 NaN
mean                  NaN         16.398738            6.698277
std                   NaN          8.450967            4.672163
min                   NaN          0.000000            1.000000
25%                   NaN          9.000000            4.000000
50%                   NaN         17.000000            7.000000
75%                   NaN         24.000000           10.000000
max                   NaN         31.000000         2011.000000

         date_upload_year  Unnamed: 16  Unnamed: 17  Unnamed: 18
count       420239.000000   142.000000          0.0          2.0
unique                NaN          NaN          NaN          NaN
top                   NaN          NaN          NaN          NaN
freq                  NaN          NaN          NaN          NaN
mean          2013.648624  1958.880282          NaN       2012.0
std             37.006109   331.444924          NaN          0.0
min              1.000000    12.000000          NaN       2012.0
25%           2012.000000  2013.000000          NaN       2012.0
50%           2014.000000  2016.000000          NaN       2012.0
75%           2017.000000  2016.000000          NaN       2012.0
max           2019.000000  2019.000000          NaN       2012.0

### Nombre de valeurs nulles par colonne ###
id                          0
 user                       0
 lat                        0
 long                       0
 tags                  103510
 title                  38329
 date_taken_minute          1
 date_taken_hour            0
 date_taken_day             0
 date_taken_month           0
 date_taken_year            0
 date_upload_minute        12
 date_upload_hour           2
 date_upload_day            2
 date_upload_month          0
 date_upload_year           1
Unnamed: 16            420098
Unnamed: 17            420240
Unnamed: 18            420238
dtype: int64

### Pourcentage de valeurs nulles par colonne ###
id                       0.000000
 user                    0.000000
 lat                     0.000000
 long                    0.000000
 tags                   24.631163
 title                   9.120741
 date_taken_minute       0.000238
 date_taken_hour         0.000000
 date_taken_day          0.000000
 date_taken_month        0.000000
 date_taken_year         0.000000
 date_upload_minute      0.002856
 date_upload_hour        0.000476
 date_upload_day         0.000476
 date_upload_month       0.000000
 date_upload_year        0.000238
Unnamed: 16             99.966210
Unnamed: 17            100.000000
Unnamed: 18             99.999524
dtype: float64

### Nombre de doublons ###
232642

### Aperçu des premières lignes ###
           id          user        lat      long  \
0  4395181099  30624617@N03  45.754858  4.821710
1  4394748717  35853470@N00  45.753270  4.862953
2  4394694699  11817998@N05  45.760655  4.846564
3  4394803790  11545749@N06  45.784000  4.874072
4  4394803554  11545749@N06  45.784000  4.874072

                                                tags  \
0                 chair,lyon,rhône,chaise,rhônealpes
1                                                NaN
2                                         365,iphone
3       nin,nineinchnails,gift,screening,toiou,avott
4  lyon,nin,nineinchnails,gift,screening,toiou,avott

                         title   date_taken_minute   date_taken_hour  \
0             Chaises avec vue                11.0                15
1                          NaN                51.0                17
2       59/365 - R46 V103 B163                29.0                17
3  2010-01-29 Toiou Avott Lyon                15.0                20
4  2010-01-28 Toiou Avott Lyon                10.0                20

    date_taken_day   date_taken_month   date_taken_year  date_upload_minute  \
0               28                  2              2010                  23
1               28                  2              2010                  52
2               28                  2              2010                  33
3               28                  1              2010                  38
4               28                  1              2010                  38

   date_upload_hour   date_upload_day   date_upload_month   date_upload_year  \
0                20              28.0                   2             2010.0
1                17              28.0                   2             2010.0
2                17              28.0                   2             2010.0
3                12              28.0                   2             2010.0
4                12              28.0                   2             2010.0

   Unnamed: 16  Unnamed: 17  Unnamed: 18
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN          NaN