In [7]:
import pandas as pd

# Remplace 'nom_du_fichier.csv' par le chemin r√©el de ton fichier CSV
chemin_fichier = 'flickr_data2.csv'

# Lecture du fichier CSV
try:
    data = pd.read_csv(chemin_fichier, sep=',')
    print("Fichier import√© avec succ√®s !")
except Exception as e:
    print(f"Une erreur est survenue : {e}")

Fichier import√© avec succ√®s !

/var/folders/r2/gpm53c192dsgzq8bxk_h_nph0000gn/T/ipykernel_86286/2091030073.py:8: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(chemin_fichier, sep=',')

In [32]:
print("### Informations g√©n√©rales sur le dataset ###")
print(data.info())

# Nombre total de lignes et colonnes
print("\nNombre total de lignes et colonnes :")
print(f"Lignes : {data.shape[0]}, Colonnes : {data.shape[1]}")

# Statistiques descriptives
print("\n### Statistiques descriptives ###")
#print(data.describe(include='all'))  # Inclut toutes les colonnes

# Comptage des valeurs nulles par colonne
print("\n### Nombre de valeurs nulles par colonne ###")
print(data.isnull().sum())

# Pourcentage de valeurs nulles
print("\n### Pourcentage de valeurs nulles par colonne ###")
print((data.isnull().sum() / data.shape[0]) * 100)

# D√©tection des doublons
print("\n### Nombre de doublons ###")
print(data.duplicated().sum())

# Aper√ßu des premi√®res lignes
print("\n### Aper√ßu des premi√®res lignes ###")
print(data.head())

### Informations g√©n√©rales sur le dataset ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   420240 non-null  int64
 1    user                420240 non-null  object
 2    lat                 420240 non-null  float64
 3    long                420240 non-null  float64
 4    tags                316730 non-null  object
 5    title               381911 non-null  object
 6    date_taken_minute   420239 non-null  float64
 7    date_taken_hour     420240 non-null  int64
 8    date_taken_day      420240 non-null  int64
 9    date_taken_month    420240 non-null  int64
 10   date_taken_year     420240 non-null  int64
 11   date_upload_minute  420228 non-null  object
 12   date_upload_hour    420238 non-null  object
 13   date_upload_day     420238 non-null  float64
 14   date_upload_month   420240 non-null  int64
 15   date_upload_year    420239 non-null  float64
 16  Unnamed: 16          142 non-null     float64
 17  Unnamed: 17          0 non-null       float64
 18  Unnamed: 18          2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB
None

Nombre total de lignes et colonnes :
Lignes : 420240, Colonnes : 19

### Statistiques descriptives ###

### Nombre de valeurs nulles par colonne ###
id                          0
 user                       0
 lat                        0
 long                       0
 tags                  103510
 title                  38329
 date_taken_minute          1
 date_taken_hour            0
 date_taken_day             0
 date_taken_month           0
 date_taken_year            0
 date_upload_minute        12
 date_upload_hour           2
 date_upload_day            2
 date_upload_month          0
 date_upload_year           1
Unnamed: 16            420098
Unnamed: 17            420240
Unnamed: 18            420238
dtype: int64

### Pourcentage de valeurs nulles par colonne ###
id                       0.000000
 user                    0.000000
 lat                     0.000000
 long                    0.000000
 tags                   24.631163
 title                   9.120741
 date_taken_minute       0.000238
 date_taken_hour         0.000000
 date_taken_day          0.000000
 date_taken_month        0.000000
 date_taken_year         0.000000
 date_upload_minute      0.002856
 date_upload_hour        0.000476
 date_upload_day         0.000476
 date_upload_month       0.000000
 date_upload_year        0.000238
Unnamed: 16             99.966210
Unnamed: 17            100.000000
Unnamed: 18             99.999524
dtype: float64

### Nombre de doublons ###
232642

### Aper√ßu des premi√®res lignes ###
           id          user        lat      long  \
0  4395181099  30624617@N03  45.754858  4.821710
1  4394748717  35853470@N00  45.753270  4.862953
2  4394694699  11817998@N05  45.760655  4.846564
3  4394803790  11545749@N06  45.784000  4.874072
4  4394803554  11545749@N06  45.784000  4.874072

                                                tags  \
0                 chair,lyon,rh√¥ne,chaise,rh√¥nealpes
1                                                NaN
2                                         365,iphone
3       nin,nineinchnails,gift,screening,toiou,avott
4  lyon,nin,nineinchnails,gift,screening,toiou,avott

                         title   date_taken_minute   date_taken_hour  \
0             Chaises avec vue                11.0                15
1                          NaN                51.0                17
2       59/365 - R46 V103 B163                29.0                17
3  2010-01-29 Toiou Avott Lyon                15.0                20
4  2010-01-28 Toiou Avott Lyon                10.0                20

    date_taken_day   date_taken_month   date_taken_year  date_upload_minute  \
0               28                  2              2010                  23
1               28                  2              2010                  52
2               28                  2              2010                  33
3               28                  1              2010                  38
4               28                  1              2010                  38

   date_upload_hour   date_upload_day   date_upload_month   date_upload_year  \
0                20              28.0                   2             2010.0
1                17              28.0                   2             2010.0
2                17              28.0                   2             2010.0
3                12              28.0                   2             2010.0
4                12              28.0                   2             2010.0

   Unnamed: 16  Unnamed: 17  Unnamed: 18
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN          NaN

In [24]:

try:
    # Suppression des doublons sur toutes les colonnes
    data_sans_doublons = data.drop_duplicates()
    print("Les doublons ont √©t√© supprim√©s du dataset.")

    # Identifier les 3 derni√®res colonnes
    dernieres_colonnes = data_sans_doublons.columns[-3:]  # Noms des 3 derni√®res colonnes
    print("### Les 3 derni√®res colonnes identifi√©es sont : ###")
    print(dernieres_colonnes)

    # Filtrer les lignes o√π au moins une des 3 derni√®res colonnes contient une valeur non nulle
    lignes_problemes = data_sans_doublons[dernieres_colonnes].notnull().any(axis=1)

    # Afficher les lignes probl√©matiques
    print("\n### Lignes contenant des valeurs dans les 3 derni√®res colonnes : ###")
    lignes_problemes_df = data_sans_doublons[lignes_problemes]
    print(lignes_problemes_df)

except Exception as e:
    print(f"Une erreur est survenue : {e}")

Les doublons ont √©t√© supprim√©s du dataset.
### Les 3 derni√®res colonnes identifi√©es sont : ###
Index(['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'], dtype='object')

### Lignes contenant des valeurs dans les 3 derni√®res colonnes : ###
                 id             user        lat      long  \
85950    6674970791     29713277@N02  45.753948  4.788145
98808    7386785280     37290448@N04  45.771315  4.835829
98816    7387000024     38586649@N00  45.779196  4.853596
102366   7583546064     37290448@N04  45.772827  4.841065
102720   7527657538     43706323@N03  45.769222  4.830549
108687   8030462612     43320999@N06  45.757835  4.830446
108958   8003036402      9728075@N06  45.723738  4.832203
116511   8150613256     58993764@N06  45.761180  4.831458
127024   8442159450     34659993@N04  45.780666  4.872666
127157   8434131946     71564713@N02  45.748409  4.862918
129635   8597695772     40633359@N02  45.762501  4.822761
131976   8442159450     34659993@N04  45.780666  4.872666
132075   8434131946     71564713@N02  45.748409  4.862918
134669   8597695772     40633359@N02  45.762501  4.822761
137218   8744184885     29713277@N02  45.740678  4.819296
137622   8715425964     29713277@N02  45.752560  4.788547
145294   9204075115     37290448@N04  45.762358  4.822268
150799   9954382845    100732131@N02  45.703807  4.807313
155337  10205162436    100732131@N02  45.703925  4.807184
163678   8150613256     58993764@N06  45.761180  4.831458
168124  12810491755     43320999@N06  45.772420  4.804513
169146  12156793916    113111723@N02  45.760060  4.862083
171368  11539325416    100732131@N02  45.696129  4.857209
175870  13899036712  44124372821@N01  45.756523  4.837428
226794  17931639003     96313132@N02  45.760751  4.835771
228421  19640268305     29262809@N08  45.777191  4.855163
242625  22383301027     58001955@N03  45.759700  4.842200
246536  15807562887      9822280@N06  45.760816  4.826914
255743  25997739582      9024930@N06  45.757714  4.842018
266155  27349420444     14902008@N02  45.760071  4.826847
266627  27118624184     43320999@N06  45.760502  4.833551
269845  28598912126    143241100@N07  45.767500  4.827870
273276  28804129090    146433448@N08  45.759074  4.833373
277278  29773081745      9822280@N06  45.781061  4.867317
277601  28926059574    142707355@N06  45.764722  4.833055
277602  29470851571    142707355@N06  45.764722  4.833055
277603  29261452400    142707355@N06  45.764722  4.833055
277615  28928383473    142707355@N06  45.772500  4.831666
277624  29517296676    142707355@N06  45.762500  4.821666
277666  28925883064    142707355@N06  45.767500  4.834166
277667  29261309540    142707355@N06  45.772500  4.831944
280392  29867028364      9024930@N06  45.757850  4.841900
288303  23454796669     30165198@N00  45.760559  4.886390
319875  36896279136    103702378@N08  45.758888  4.808055
323235  23820623938    100030116@N06  45.757171  4.820970
337536  38868642195      9619972@N08  45.779855  4.848167
357346  29401337957     32215553@N02  45.798625  4.829488
364936  44273666625     25232584@N05  45.762044  4.821358
368325  45194326652     25232584@N05  45.760936  4.826519
381860  47103124882     15917364@N02  45.776985  4.833829
382043  33105832478     53987060@N02  45.771063  4.829993
382861  31807499637     53987060@N02  45.762097  4.821281
384404  31078309607     53987060@N02  45.757771  4.831881

                                                     tags  \
85950    portrait,throughtheleaves,autraversdesfeuillages
98808   city,plants,plant,france,brick,green,stone,wal...
98816   uploaded:by=flicksquare,foursquare:venue=4b851...
102366  city,blackandwhite,france,water,river,french,c...
102720  square,lofi,squareformat,iphoneography,instagr...
108687  square,lofi,squareformat,iphoneography,instagr...
108958  square,squareformat,lordkelvin,iphoneography,i...
116511  square,squareformat,hefe,iphoneography,instagr...
127024  square,squareformat,hefe,iphoneography,instagr...
127157  square,squareformat,hudson,iphoneography,insta...
129635  square,squareformat,mayfair,iphoneography,inst...
131976  square,squareformat,hefe,iphoneography,instagr...
132075  square,squareformat,hudson,iphoneography,insta...
134669  square,squareformat,mayfair,iphoneography,inst...
137218  shadows,platform,ombre,rails,quai,hairs,chevel...
137622            lyon,zup,propri√©t√©priv√©e,d√©fensedentrer
145294  france,building,church,architecture,buildings,...
150799  square,squareformat,iphoneography,instagramapp...
155337  square,squareformat,rise,iphoneography,instagr...
163678  square,squareformat,hefe,iphoneography,instagr...
168124  square,lofi,squareformat,iphoneography,instagr...
169146                                                NaN
171368  square,squareformat,walden,iphoneography,insta...
175870  bridge,france,rio,river,lyon,fran√ßa,rh√¥ne,pont...
226794  square,squareformat,perpetua,iphoneography,ins...
228421       france,rh√¥ne,villages,tourisme,villes,filoer
242625  square,squareformat,lark,iphoneography,instagr...
246536                      lyon,nuit,f√™tedeslumi√®res2014
255743  square,nashville,squareformat,iphoneography,in...
266155                    france,lyon,monuments,vieuxlyon
266627  square,lofi,squareformat,iphoneography,instagr...
269845  instagramapp,square,squareformat,iphoneography...
273276                                                NaN
277278             campusdeladoua,lyon,laura,lyon1,lapref
277601                                                NaN
277602                                                NaN
277603                                                NaN
277615                                                NaN
277624                                                NaN
277666                                                NaN
277667                                                NaN
280392  instagramapp,square,squareformat,iphoneography...
288303  square,squareformat,iphoneography,instagramapp...
319875                                                NaN
323235                  aquarelle,immeuble,arbres,verdure
337536  man,male,homme,hombre,uomo,mann,young,jung,jon...
357346  lyon,mus√©ejeancouty,jeancouty,peinture,huilesu...
364936                                                NaN
368325                                                NaN
381860  lyon,rh√¥ne,croixrousse,escaliers,rue,personne,...
382043                                                NaN
382861                                                NaN
384404                                                NaN

                                                    title   date_taken_minute  \
85950                                                 NaN              2012.0
98808                                               Plant              2012.0
98816                         Beautiful weather in #Lyon               2012.0
102366                                             Bridge              2012.0
102720                 Le marathon de la bouffe continue               2012.0
108687  Encore une belle soir√©e offerte par Franklin T...              2012.0
108958                               Comme mon ami Chik !              2012.0
116511                                   The newlyonnais               2012.0
127024                Prix hors categorie de la bravoure               2013.0
127157                   Cr√©ation contemporaine nocturne               2013.0
129635                     Lyon's Tour Eiffel is smaller               2013.0
131976                Prix hors categorie de la bravoure               2013.0
132075                   Cr√©ation contemporaine nocturne               2013.0
134669                     Lyon's Tour Eiffel is smaller               2013.0
137218                                                NaN                16.0
137622                                                  :                 5.0
145294                                           Basilica              2013.0
150799                           Pariis ! Beautiful town               2013.0
155337                                          My Bro '               2013.0
163678                                   The newlyonnais               2012.0
168124  Toujours agr√©able de profiter des services de ...              2014.0
169146                            Alstom Citadis 402 n¬∞84              2014.0
171368                       Merry Christmas everybody !               2013.0
175870  #Lyon is way prettier when it's sunny. For now...              2014.0
226794  #roses #festivalofroses #festivalmondialdesros...              2015.0
228421                     Lyon - Le Parc de la T√™te d'Or              2015.0
242625  #1pic1day #tvcv pic #4  On respecte les change...              2015.0
246536                                   f√™te de lumi√®res              2014.0
255743  Oriane est b√©n√©vole √† l Improvidence Habill√©e ...              2016.0
266155                       1664 - aupreÃÄs de ma blonde               2016.0
266627  Vir√©e lyonnaise pour retrouver nos anciens de ...              2016.0
269845                                         It's #Time              2016.0
273276                                 Happy Birtdhay !!               2016.0
277278                                                NaN              2016.0
277601                            Ouvertures chr√©tiennes               2016.0
277602                            Ouvertures chr√©tiennes               2016.0
277603                            Ouvertures chr√©tiennes               2016.0
277615                                        Vue depuis               2016.0
277624                            Ouvertures chr√©tiennes               2016.0
277666                                      Centre ville               2016.0
277667                                        Vue depuis               2016.0
280392                                    #retrouvailles               2016.0
288303                                   Pour toi aussi.               2015.0
319875                       Neritina taxi pour crevettes              2017.0
323235                            Le jardin Andr√© Malraux              2017.0
337536                                    Beauty is power              2018.0
357346          Jean Couty - Le chantier du m√©tro (1972)               2018.0
364936                    Basiliek Notre-Dame de Fourvire              2018.0
368325                   Basiliek Notre-Dame de Fourvi√®re              2018.0
381860              Lyon - En solitaire √† la Croix-Rousse              2019.0
382043  Looking from the Roman arenas to the Basilica ...              2019.0
382861  Inside the Basilica of Notre-Dame de Fourvi√®re...              2019.0
384404  Night view on the Basilica and the iron tower ...                 NaN

         date_taken_hour   date_taken_day   date_taken_month  \
85950                 29               12                 10
98808                 17                9                  6
98816                 46               11                 17
102366                38               11                  7
102720                49               16                  8
108687                44               20                 27
108958                46                6                 19
116511                22                7                  3
127024                 8               19                  3
127157                28               14                 31
129635                15                6                 28
131976                 8               19                  3
132075                28               14                 31
134669                15                6                 28
137218                 5             2013                 38
137622              2013               28                 12
145294                31               11                  4
150799                26               11                 26
155337                26                3                 11
163678                22                7                  3
168124                26               10                 27
169146                10               15                 25
171368                22               16                 24
175870                14                9                 18
226794                27                9                  7
228421                15               17                  9
242625                14               13                  5
246536                11               22                  5
255743                54                4                 28
266155                43               17                 27
266627                46               18                 17
269845                42                8                 29
273276                 8               10                 19
277278                34               19                 16
277601                48               12                  3
277602                49               12                  3
277603                49               12                  3
277615                 5               16                  3
277624                15               17                  3
277666                15               13                  4
277667                 3               16                  3
280392                33               15                 22
288303                24                8                 18
319875                29               14                  2
323235                47               12                  7
337536                39               10                 22
357346                14               11                 29
364936                46               16                 25
368325                32               18                 25
381860                54               17                 18
382043                57               11                 16
382861                55               12                 15
384404                 4               21                 17

         date_taken_year                                 date_upload_minute  \
85950                  9                                                NaN
98808                  6                                              Stone
98816                  6                                                  )
102366                 6                                              Rh√¥ne
102720                 7                                                  )
108687                 9                                                 -)
108958                 9  -) #babyfoot #tournee #chik #laurent #foot #fo...
116511                11                                                  )
127024                 2  ) mais on a gagner le coeur du public c ca la ...
127157                 1  ) #night #nightlife #lyon #friends #france #ve...
129635                 3                                                  )
131976                 2  ) mais on a gagner le coeur du public c ca la ...
132075                 1  ) #night #nightlife #lyon #friends #france #ve...
134669                 3                                                  )
137218                15                                                NaN
137622                25                                                NaN
145294                 7                                                Sky
150799                 9                                                  )
155337                10                                    ) I miss you ^^
163678                11                                                  )
168124                 2                                            -) #VTC
169146                 1   302 n¬∞63 + Stadler Tango n¬∞106 Rh√¥neExpress  ...
171368                12                                      ) #noel #fete
175870                 4                                  ) #France #Fran√ßa
226794                 6                                              ) üåπüåπüåπ
228421                 7                            le tadorne (2015 07 09)
242625                11  -)  http://trouver-sa-voie-changer-sa-vie.fr/2...
246536                12                                            ST jean
255743                 3                                                 -)
266155                 6                                    -)   (A16-0651)
266627                 6  -) #IDRACalumni #gyroo #Idrac #MaisonArtilion ...
269845                 7   Lets #Burn those #Bridges.  Http://www.Joshua...
273276                 8                                                  )
277278                 9                                                  )
277601                 9                                Eglise Saint-nizier
277602                 9                                Eglise Saint-nizier
277603                 9                                Eglise Saint-nizier
277615                 9                                    La croix rousse
277624                 9                             Basilique de Fourvi√®re
277666                 9                                      Op√©ra de Lyon
277667                 9                                    La croix rousse
280392                10                               -) Pablo et Kathleen
288303                12  -) #friends #e #birthdaycard #graphicdesign #i...
319875                 9                                                  )
323235                10                        1 place des minimes Lyon 5¬∞
337536                 7                              a smile is its sword.
357346                 7                         le chantier la nuit (1978)
364936                 5                                               Lyon
368325                 5                                               Lyon
381860                 2                                                NaN
382043                11                                                 -)
382861                11                                                 -)
384404                11                                               2018

        date_upload_hour   date_upload_day   date_upload_month  \
85950                 47              21.0                  10
98808                 32              17.0                  17
98816                 46              17.0                  17
102366                 5              18.0                  16
102720                49              16.0                   8
108687                44              20.0                  27
108958                46              15.0                  19
116511                22              15.0                   3
127024                 8              19.0                   3
127157                28              23.0                  31
129635                15              11.0                  28
131976                 8              19.0                   3
132075                28              23.0                  31
134669                15              11.0                  28
137218               NaN               NaN                  51
137622                .!              18.0                  21
145294                 8               8.0                   4
150799                26              20.0                  26
155337                26              12.0                  11
163678                22              15.0                   3
168124                26              10.0                  27
169146                38              19.0                  26
171368                22               1.0                  25
175870                14              14.0                  18
226794                27               9.0                   7
228421                36              21.0                  12
242625                14              13.0                   5

In [26]:
print(lignes_problemes_df.columns)

Index(['id', ' user', ' lat', ' long', ' tags', ' title', ' date_taken_minute',
       ' date_taken_hour', ' date_taken_day', ' date_taken_month',
       ' date_taken_year', ' date_upload_minute', ' date_upload_hour',
       ' date_upload_day', ' date_upload_month', ' date_upload_year',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [31]:
lignes_problemes_df['title_date_concat'] = (
    lignes_problemes_df[' title'].astype(str) + '_:' + lignes_problemes_df[' date_upload_minute'].astype(str)
)
# R√©assigner les colonnes en utilisant .loc
lignes_problemes_df.loc[:, ' date_upload_minute'] = lignes_problemes_df[' date_upload_hour']
lignes_problemes_df.loc[:, ' date_upload_hour'] = lignes_problemes_df[' date_upload_day']
lignes_problemes_df.loc[:, ' date_upload_day'] = lignes_problemes_df[' date_upload_month']
lignes_problemes_df.loc[:, ' date_upload_month'] = lignes_problemes_df[' date_upload_year']
lignes_problemes_df.loc[:, ' date_upload_year'] = lignes_problemes_df['Unnamed: 16']
lignes_problemes_df.loc[:, ' title'] = lignes_problemes_df['title_date_concat']

print(lignes_problemes_df.info())

    # Sauvegarde des lignes probl√©matiques dans un fichier pour analyse
lignes_problemes_df.to_csv("lignes_problemes.csv", index=False)
print("\nLes lignes probl√©matiques ont √©t√© sauvegard√©es dans 'lignes_problemes.csv'.")

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 85950 to 384404
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   53 non-null     int64
 1    user                53 non-null     object
 2    lat                 53 non-null     float64
 3    long                53 non-null     float64
 4    tags                38 non-null     object
 5    title               53 non-null     object
 6    date_taken_minute   52 non-null     float64
 7    date_taken_hour     53 non-null     int64
 8    date_taken_day      53 non-null     int64
 9    date_taken_month    53 non-null     int64
 10   date_taken_year     53 non-null     int64
 11   date_upload_minute  53 non-null     object
 12   date_upload_hour    53 non-null     float64
 13   date_upload_day     53 non-null     int64
 14   date_upload_month   53 non-null     float64
 15   date_upload_year    53 non-null     float64
 16  Unnamed: 16          53 non-null     float64
 17  Unnamed: 17          0 non-null      float64
 18  Unnamed: 18          1 non-null      float64
 19  title_date_concat    53 non-null     object
dtypes: float64(9), int64(6), object(5)
memory usage: 8.7+ KB
None

Les lignes probl√©matiques ont √©t√© sauvegard√©es dans 'lignes_problemes.csv'.

/var/folders/r2/gpm53c192dsgzq8bxk_h_nph0000gn/T/ipykernel_86286/3888365064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lignes_problemes_df['title_date_concat'] = (